.header {
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    height: 88px;
    z-index: 100;
}

.headerInner {
    padding: 24px var(--offset-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.collectionLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
}

.collectionRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
