.header {
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
    height: 88px;
    z-index: 100;
}

.headerInner {
    padding: 24px var(--offset-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.collectionLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
}

.collectionRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.animatedCart {
    animation: global(bump) var(--transition) ease-out;
}

.cartAmount {
    width: 20px;
    color: var(--color-white);
}

@media (max-width: 640px) {
    .header {
        height: auto;
    }

    .collectionLeft,
    .collectionRight {
        width: 100%;
        justify-content: space-between;
    }
}