.wrapper {
    position: relative;
}

.searchInput {
    background-color: var(--color-bg-search);
    border: none;
    border-radius: 20px;
    height: 32px;
    width: 240px;
    padding-left: 40px;
    color: var(--color-white);
}

.searchInput:focus {
    outline: 2px solid var(--color-white);
}

.searchIcon {
    position: absolute;
    top: 0;
    left: 4px;
    height: 32px;
    width: 32px;
    padding: 8px;
    cursor: pointer;
}