.wrapper {
    display: flex;
    gap: 6px;
    color: var(--color-text-black);
}

.legend {
    display: inline-block;
    color: var(--color-text-grey);
}

.input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.input:focus-visible + .label {
    outline: 1px solid var(--color-text-pink);
}

.label {
    cursor: pointer;
    color: var(--color-text-dark-grey)
}

.input:checked + .label {
    color: var(--color-text-pink);
}