.wrapper {
    display: flex;
    gap: 6px;
    color: var(--color-text-black);
    font-size: 0.75rem;
}

.legend {
    display: inline-block;
    color: var(--color-text-grey);
}

.input:focus-visible + .label {
    outline: 1px solid var(--color-text-pink);
}

.label {
    cursor: pointer;
    color: var(--color-text-dark-grey)
}

.input:checked + .label {
    color: var(--color-text-pink);
}