.wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.link {
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon {
    width: 20px;
    height: 20px;
}