.LyZu32Ru {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.iSEN0nCr {
    color: var(--color-text-black);
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid var(--color-text-grey);
}

.hHuT8AkS {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hHuT8AkS:focus-visible + .cmbTpqn7 {
    outline: 2px solid var(--color-text-pink);
}

.cmbTpqn7 {
    display: block;
    width: 100%;
}

.hHuT8AkS:checked + .cmbTpqn7 {
    color: var(--color-text-pink);
}

@media (max-width: 850px) {
    .LyZu32Ru {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.z1vCz7UM {
    width: 240px;
    border-radius: 16px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px 0 var(--color-shadow-black);
    position: relative;
}

.oA4WaH_H {
    color: var(--color-text-dark-grey);
    text-decoration: none;
}

.oA4WaH_H::after {
    content: '';
    position: absolute;
    inset: 0;
}

.wV9lqLuW {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--color-bg-black-04);
}

.okTVEloT {
    width: 240px;
    height: 270px;
    border-radius: 16px 16px 0 0;
}

.AQHqOpZh {
    min-height: 48px;
    margin: 12px 16px;
    font-size: 1rem;
}

.cL9FeAH4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 8px 16px;
}

.mKSrmNy0 {
    position: relative;
    color: var(--color-text-black);
    font-weight: 600;
}

.QKboVGEt {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 5px;
    transition: var(--transition);
}

.YD28V45c * {
    fill: var(--color-icon-grey);
}

.B2wBJtjP * {
    fill: var(--color-primary);
}

@media (hover: hover) {
    .QKboVGEt:hover {
        transform: scale(1.2);
    }
}

.MIU4ZUsp {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px 16px;
}

@media (max-width: 850px) {
    .MIU4ZUsp {
        justify-items: center;
    }
}

.KVTp3VJV {
    display: flex;
    gap: 6px;
    color: var(--color-text-black);
    font-size: 0.75rem;
}

.lsHkNGne {
    display: inline-block;
    color: var(--color-text-grey);
}

.Ih77EuZi:focus-visible + .ajcLGbNY {
    outline: 1px solid var(--color-text-pink);
}

.ajcLGbNY {
    cursor: pointer;
    color: var(--color-text-dark-grey);
}

.Ih77EuZi:checked + .ajcLGbNY {
    color: var(--color-text-pink);
}

.qD68SYH0 {
    padding: var(--offset-main);
}

.GqyKTzaH {
    text-align: center;
}

.ETA43vLS {
    width: 204px;
    min-height: 100px;
}

.PzZSUg6H {
    color: var(--color-text-grey);
    font-size: 12px;
}

.KwHTSzDp {
    display: flex;
    gap: 48px;
    padding-right: 65px;
}

.PbubSSxv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (max-width: 850px) {
    .KwHTSzDp {
        flex-direction: column;
        padding-right: 0;
    }

    .ETA43vLS {
        width: 100%;
    }

    .PbubSSxv {
        align-items: center;
    }
}

.zzBs4LNk {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.XQn5wl34 {
    font-size: 1.2rem;
}

.DBUWyq5D {
    border: none;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

